body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: var(--light-color);
  height: fit-content;
  padding-top: 30vh;
  transition: padding 300ms ease;
}

.brand-title {
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
  margin: 0 15px 10px 15px;
}

.search-menu {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  background-color: rgba(248, 248, 248, .9);
  z-index: 10;
}

mwmbl-search-bar {
  width: 100%;
}

.search-bar {
  position: relative;
}

.search-bar-input {
  background-color: var(--gray-color);
  border: none;
  padding: 15px 15px 15px 50px;
  border-radius: 10px;
  outline: none;
  font-size: var(--default-font-size);
  width: 100%;
  font-weight: var(--bold-font-weight);
}

.search-bar-input::placeholder {
  color: var(--dark-color);
  opacity: .3;
}

.search-bar i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--dark-color);
  opacity: .3;
  font-size: 1.5rem;
}

mwmbl-results {
  display: block;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.results {
  max-width: 100%;
  list-style-type: none;
  padding: 10px;
}

.result a {
  display: block;
  text-decoration: none;
  color: var(--dark-color);
  padding: 15px;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out;
}

.result:hover a {
  background-color: var(--gray-color);
}

.result .link {
  font-size: .9rem;
}

.result .title, .result .title>* {
  color: var(--primary-color);
  font-size: 1.1rem;
}

.result .extract {
  opacity: .8;
  font-size: .9;
}

.empty-result {
  text-align: center;
  opacity: .5;
  font-weight: var(--bold-font-weight);
}

@media screen and (min-width:576px) {
  .brand-title {
    margin: 0 25px 0 15px;
  }

  .search-menu {
    flex-direction: row;
  }
}
